<!-- 
    Celine Ma (100874382)
    My Personal Portfolio Website
    The footer of my Portfolio
-->

<nav class="footer">
    <ul>
        <div id="footer">
            <h5>&copy; celine.ma@ontariotechu.net</h5>
        </div>
        <li>
            <a href="https://github.com/clm04/A2">Github</a>
            <a href="https://ca.linkedin.com/">Linkedin</a>
        </li>
    </ul>
</nav>
