<!-- 
    Celine Ma (100874382)
    My Personal Portfolio Website
    The header of my Portfolio
-->

<div id="banner">
    <ul>
        <h4><span><em>CM</em></span></h4>
        <!--links to my other pages-->
        <a href="index">Home</a>
        <a href="aboutme">About Me</a>
        <a href="projects">Projects</a>
        <a href="workoutslist">Workout</a>
        <a href="contact">Contact</a>
    </ul>
</div>