<!-- 
    Celine Ma (100874382)
    My Personal Portfolio Website
    This is the thankyou page from the contact form
-->

<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Feedback</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="wrapper">
            <h1>Thanks for submitting your form</h1>
            <h2>Click <a href="index"> here</a> to return to our home page</h2>
        </div>
    </body>
</html>